#product-extragallery-images .product-extragallery-images-dynamic-items {
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
}

#product-extragallery-images .product-extragallery-images-dynamic-items .product-extragallery-images-dynamic-item {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 5px;
    border: 1px solid #bbcdd2;
    border-radius: 4px;
}

#product-extragallery-images .product-extragallery-images-dynamic-items .product-extragallery-images-dynamic-item .product-extragallery-images-delete-btn {
    position: absolute;
    top: -1px;
    right: 0;
}
#product-extragallery-images .product-extragallery-images-dynamic-items .product-extragallery-images-dynamic-item .product-extragallery-images-delete-btn:hover {
    cursor: pointer;
}
#product-extragallery-images .extragallery-wrapper {
    margin: 5px;
}